<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css" type="text/css">
    <title>Biodiversidad de Boyacá y Cundinamarca</title>
    <script src="https://kit.fontawesome.com/5064ec9ab6.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'header.html' %}

    <section class="banner">
        <h1>Biodiversidad en Boyacá<br> y Cundinamarca</h1>
    </section>

    <section class="flora">
        <div class="content">
            <img src="../assets/img/flora.jpg" alt="Imagen de flora">
            <div class="text">
                <h2>Flora</h2>
                <p>La región de Boyacá y Cundinamarca alberga una flora rica y diversa. Desde las alturas del páramo hasta los valles, encontramos especies endémicas de gran importancia ecológica. Árboles como el frailejon, el roble, y especies nativas de orquídeas contribuyen al equilibrio de los ecosistemas locales. Además, muchas de estas plantas poseen un valor medicinal y cultural que ha sido apreciado por las comunidades locales durante siglos.</p>
                <a href="/flora" class="learn-more">Saber más →</a>
            </div>
        </div>
    </section>

    <section class="fauna">
        <div class="content">
            <div class="text">
                <h2>Fauna</h2>
                <p>Boyacá y Cundinamarca son hogar de una Fauna diversa que incluye especies únicas de mamíferos, aves y reptiles. Entre los más destacados se encuentran el oso de anteojos, el cóndor de los Andes, y una variedad de ranas venenosas endémicas de estas zonas montañosas. Estos animales son esenciales para el equilibrio del ecosistema y muchos de ellos se encuentran en peligro de extinción, lo que subraya la importancia de su conservación.</p>
                <a href="/fauna" class="learn-more">Saber más →</a>
            </div>
            <img src="../assets/img/Fauna.jpg" alt="Imagen de fauna">
        </div>
    </section>

    <section class="ecosistemas">
        <div class="content">
            <img src="../assets/img/ecosistemas.jpg" alt="Imagen de ecosistemas">
            <div>
                <h2>Ecosistemas</h2>
                <p>Los ecosistemas de Boyacá y Cundinamarca son diversos y únicos, destacando los bosques de niebla alto, los páramos y los cuerpos de agua que atraviesan estas regiones. Estos ecosistemas juegan un papel vital en la regulación del clima, la captación de agua y la conservación de especies endémicas que dependen de estos ambientes para su supervivencia.</p>
                <a href="/ecosistemas" class="learn-more">Saber más →</a>
            </div>
        </div>
    </section>

    <section class="especies-invasoras">
        <div class="content">
            <div>
                <h2>Especies invasoras</h2>
                <p>Las especies invasoras en Boyacá y Cundinamarca representan una amenaza significativa para la biodiversidad local y el equilibrio de los ecosistemas de estas regiones. Al ser introducidas fuera de su hábitat natural, estas especies compiten con las especies nativas por recursos como agua, alimento y espacio, lo que puede llevar al desplazamiento de las especies autóctonas. Esto afecta principalmente a los ecosistemas de páramo, bosques andinos y humedales, que son vitales para la regulación del clima y la captación de agua en la región. Además, estas especies pueden alterar los hábitats acuáticos y terrestres, poniendo en peligro tanto la flora como la fauna que depende de estos ecosistemas. Su presencia también genera un impacto en la agricultura, ya que afectan la productividad de los cultivos y el ganado, lo que aumenta los costos de manejo y erradicación.</p>
                <a href="/especies-invasoras" class="learn-more">Saber más →</a>
            </div>
            <img src="../assets/img/especies-invasoras.jpg" alt="Imagen especies invasoras">
        </div>
    </section>

    {% include 'footer.html' %}

    <script src="../js/include.js"></script>
</body>
</html>